
<h1>My Plants</h1>
<br>
<% @plants.each do |plant| %>

    <h3><a href="/plants/<%=plant.id%>"><%= plant.name %></a></h3>
    
<% end %><br><br><br>

      <a href="/plants/new">add another plant</a>


