
<h2><%=current_user.username%>'s Show Page</h2>
<br>
<% @plants.each do |plant| %>

    <a href="/plants/<%=plant.id%>"><%= plant.name %></a><br>
    <%= plant.care_level %> level<br>
    
<% end %>


