<h2>Edit your plant</h2>
<form class="" action="/plants/<%= @plant.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name</label>
  <input type="text" name="name" value="">
  <label for="description">Description</label>
  <input type="text" name="description" value="">
  <label for="care_level">Care Level</label>
  <input type="text" name="care_level" value="">
  <input type="submit" name="" value="Edit Entry">
  
</form>
