<h1>Edit your plant</h1><br>

<form class="" action="/plants/<%= @plant.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  
  <h3><label for="name">Name</label></h3>
  <input type="text" name="name" value="<%=@plant.name%>"><br>
  <h3><label for="description">Description</label></h3>
  <input type="text" name="description" value="<%=@plant.description%>"><br>
  <h3><label for="care_level">Care Level</label></h3>
  <input type="text" name="care_level" value="<%=@plant.care_level%>"><br><br><br>
  <input type="submit" name="" value="Edit Entry">
  
</form>
