<h1>All Plants</h1>
<br>
<% @plant.each do |plant_entry| %>

  <p>
    <a href="/plants/<%=plant_entry.id%>"><%= plant_entry.name %></a><br>
    Added by <%= plant_entry.user.username %>
    
  </p>
<% end %>