<h2>ALL PLANT BABIES</h2>
<br>
<% @plant.each do |plant_entry| %>

  <p>
    <a href="/plants/<%=plant_entry.id%>"><%= plant_entry.name %></a><br>
    <%= plant_entry.care_level %> level<br>
    Added by: <%= current_user.username %>
  </p>
<% end %>