<h1>All Plants</h1>

<% @plant.each do |plant_entry| %>

  
    <h3><a href="/plants/<%=plant_entry.id%>"><%= plant_entry.name %></a></h3>
    <!--Added by <%= plant_entry.user.username %><br>-->
    
  
<% end %><br>