<h2>Log a new plant</h2>
<form class="" action="/plants" method="POST">
  <label for="name">Name</label><br>
  <input type="text" name="name" value=""><br><br>
  <label for="description">Description</label><br>
  <input type="text" name="description" value=""><br><br>
  <label for="care_level">Care Level</label><br>
  <input type="text" name="care_level" value=""><br><br><br>
  <input type="submit" name="" value="Submit">
  
</form>
