<h1>Add a plant</h1>
<form class="" action="/plants" method="POST">
  <h3><label for="name">name</label></h3>
  <input type="text" name="name" value=""><br>
  <h3><label for="description">description</label></h3>
  <input type="text" name="description" value=""><br>
  <h3><label for="care_level">care level: 1-10</label></h3>
  <input type="text" name="care_level" value=""><br><br>
  <input type="submit" name="" value="Submit">
  
</form>
