<h1>This is the show page for plants.</h1>
<p><%= @plant_entry.description %></p>

Edit
<a href="/plants/<%= @plant_entry.id%>/edit">Edit Entry</a>

Delete
<a href="/plants/<%= @plant_entry.id%>/edit">Edit Entry</a>
