<div class="container">
  <!--<header><img src="images/corneal-small.png" class="img-responsive main-image"></header>-->
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to Plantmom</h1><br>
    
    <p>To access features, you'll need to log in or sign up.</p>
    
        
      </div>
      
      <!--<h3><a href="/users/login">Login</a></h3>-->
      <!--<h3><a href="/users/signup">Sign up</a></h3>-->
      
  <!--  </div>-->
    <!--<div class="sidebar">-->
    <!--  <h3>Environment</h3>-->
    <!--  <ul>-->
    <!--    <li><b>Ruby:</b> <%= RUBY_VERSION %></li>-->
    <!--    <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>-->
    <!--    <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>-->
    <!--    <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>-->
    <!--  </ul>-->
    <!--</div>-->
  <!--</div>-->
</div>
